.Gallery {
  padding-top: 58px;
  padding-bottom: 66px;
  background-color: #f5efea;
}
.gallery-aboutUs-header {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
}
.gallery-p {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  margin-top: 20px;
  margin-bottom: 35px;
}

/* GRID */
.gallery-grid {
  display: grid;
  gap: 72px;
  width: 100%;
  justify-content: center;
}
.gallery-grid img {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 230px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

/* BUTTON */
.gallery-aboutUs-button {
  display: block;
  margin: 0 auto;
  background-color: var(--orange);
  padding: 14px 146px;
  color: var(--main-white);
  font-family: var(--accent-font);
  line-height: 100%;
  font-size: 32px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.gallery-aboutUs-button:hover {
  background-color: var(--main-white);
  color: var(--orange);
  border: 1px solid var(--orange);
}



@media (min-width: 1160px) {
  .gallery-grid {
    grid-template-columns: repeat(4, 246px);
  }
}
@media only screen and (max-width: 1160px) {
  .Gallery .gallery-aboutUs-header {
    text-align: center;
  }}
@media (min-width: 841px) and (max-width: 1159px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    gap: 48px;
  }
  .gallery-p {
    text-align: center;
  }
  .gallery-aboutUs-button {
    padding: 14px 100px;
    font-size: 24px;
  }
}
@media (max-width: 840px) {
  .gallery-grid {
    gap: 24px;
  }
  .gallery-grid img {
    width: 100%;
    height: auto;
  }

  .gallery-p {
    text-align: center;
  }
  .gallery-aboutUs-button {
    padding: 14px 80px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 430px) {
  .gallery-aboutUs-button {
    padding: 14px 0px;
    width: 100%;
  }
}
