.Gallery {
  padding-top: 58px;
  padding-bottom: 66px;
  background-color: #f5efea;
}
.gallery-aboutUs-header {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
}
.gallery-grid {
  display: grid;
  gap: 72px;
  width: 100%;
  justify-content: center;
}
.gallery-grid img {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 230px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 841px) and (max-width: 1159px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    gap: 48px;
  }
}

@media (min-width: 1160px) {
  .gallery-grid {
    grid-template-columns: repeat(4, 246px);
  }
}

@media (max-width: 840px) {
  .gallery-grid {
    gap: 24px;
  }
  .gallery-grid img {
    width: 100%;
    height: auto;
  }
  .gallery-aboutUs-header {
    text-align: center;
  }
}
