.hss-section {
  margin-bottom: 100px;
}

.hss-header-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hss-header {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  text-decoration: underline #eac0a1 11px;
}

.EarlyScreen,
.High-Col,
.Obesity,
.Diabetes {
  background-color: #f5efea;
}

.High-Col {
  margin-top: 10px;
}

.Diabetes {
  margin-top: 20px;
  padding-bottom: 20px;
}

.d-flex-align-items {
  font-weight: bold;
  float: left;
}

.EarlyScreen-card-text {
  font-family: Source Sans Pro;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}
