.doctors {
  margin-bottom: 100px;
}

.doctors .doctor-header-box {
  display: flex;
  gap: 10px;
}

.doctors .doctor-header {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
  text-decoration: underline #eac0a1 11px;
}

/* Doctor Card 
  added to fit the images and text in the card in a better way
*/
.doctor-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; /* Ensures all cards are of equal height */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.title {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  font-family: Source Sans Pro;
}

.doctor-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: var(--orange);
  padding: 14px 165px;
  color: var(--main-white);
  font-family: var(--accent-font);
  line-height: 100%;
  font-size: 32px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  margin-top: 40px;
}
