.HonoringLives {
  margin: 20px 0;
}

.honoringLives-header {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
  text-decoration: underline #eac0a1 11px;
}

.honoringLives-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 75px;
}

.honoringLives-text {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 22px;
  font-weight: 400;
  line-height: 125%;
  text-align: justify;
  max-width: 640px;
}

.honoringLives-photo {
  flex: 0 1 auto;
}

.andrew-photo {
  max-width: 100%;
  border-radius: 10px;
}

.readMore-btn {
  background-color: transparent;
  border: none;
  color: #ef761f;
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
  margin-left: 5px;
  outline: none;
}

.readMore-btn:hover {
  background-color: #a84d0d;
}
