.Message {
  padding-top: 58px;
  padding-bottom: 66px;
  background-color: var(--main-white);
}
.Message .message-header {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
  text-decoration: underline #eac0a1 9px;
}
.Message .message-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 75px;
}
.Message .arista-photo {
  max-width: 100%;
}

.Message .message-text {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 125%;
  text-align: justify;
  max-width: 640px;
}
.Message .message-text strong {
  font-size: 30px;
}
.Message .message-text span {
  color: var(--blue);
}


@media only screen and (max-width: 1160px) {
  .Message .message-header {
    text-align: center;
  }
  .Message .message-content {
    margin-top: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 640px;
  }
  .Message .message-text {
    margin: 0 auto 28px auto;
    text-align: center;
  }
}
@media only screen and (max-width: 1160px) {
  .Message .message-content {
    max-width: 92%;
  }
  .Message .Message-text {
    font-size: 20px;
  }
}
