.Message {
  padding-top: 58px;
  padding-bottom: 66px;
  background-color: var(--main-white);
}
.Message .message-header {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
  text-decoration: underline #eac0a1 9px;
}
.Message .message-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.Message .arista-photo {
  max-width: 340px;
  border-radius: 10px;
}

.Message .message-text-box {
  text-align: justify;
  max-width: 100%;
}
.Message .message-text {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 125%;
}
.Message .message-text-expanded {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}
.Message .message-signature {
  color: var(--main-black);
  font-family: "Allura", cursive;
  font-size: 30px;
  font-weight: 500;
  line-height: 130%;
  text-align: start;
}
.Message .read-more-btn {
  margin-top: 12px;
  background-color: var(--main-white);
  padding: 14px 146px;
  color: var(--orange);
  font-family: var(--accent-font);
  line-height: 100%;
  font-size: 32px;
  padding: 14px 40px;
  border: 1px solid var(--orange);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.Message .read-more-btn:hover {
  background-color: var(--orange);
  color: var(--main-white);
  border: 1px solid transparent;
}
.Message .underline-strong {
  text-decoration: underline;
}

@media only screen and (max-width: 1160px) {
  .Message .message-header {
    text-align: center;
  }
  .Message .message-content {
    margin-top: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 640px;
  }
  .Message .message-text-box {
    margin: 0 auto 28px auto;
    text-align: center;
  }
  .Message .arista-photo {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 960px) {
  .Message .message-content {
    max-width: 92%;
  }
  .Message .Message-text-box {
    font-size: 20px;
  }
  .Message .message-header {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
