.NeverForget {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.nf-text {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
}

.arrow-down{
  text-align: center;
}
.memorial img {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 100px;
}

.memorial {
  display: flex;
  justify-content: center;
  width: 100%;
}
