.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--main-white);
}

.navbar-logo {
  width: 192px;
  height: 56px;
  background-image: url('../../images/nav-logo.png');
  background-size: cover;
  background-position: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--main-black);
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: var(--orange);
}

.support-button {
  background-color: var(--blue);
  color: var(--main-white);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.support-button:hover,
.support-button:focus {
  background-color: var(--blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
