/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 14px 0;
  background-color: var(--main-white);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* LOGO */
.navbar-logo {
  width: 160px;
  height: 46px;
  background-image: url("../../images/nav-logo.png");
  background-size: cover;
  background-position: center;
  z-index: 2000;
}

/* MENU LINKS */
.navbar-collapse {
  display: flex;
  z-index: 1000;
}
.nav-item {
  border-radius: 6px;
  padding: 3px 16px;
  background-color: none;
  margin: 0 4px;
  transition: all ease-in-out 300ms;
}
.nav-item:hover {
  background-color: var(--orange);
  border-radius: 6px;
  color: var(--main-white);
}
.nav-item a {
  color: var(--main-black);
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.nav-item a:hover {
  color: var(--main-white);
}
.nav-link.dropdown-toggle::after {
  display: none;
}

/* DROPDOWN */
.dropdown-menu {
  width: 340px;
  background-color: var(--main-white);
  border: none;
  border-radius: 10px;
  padding: 4px 16px;
  margin: 16px auto;
}
.dropdown-item {
  background-color: #fff5ee;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.dropdown-item:hover {
  background-color: var(--orange);
  box-shadow: 0px 4px 30px 0px rgba(243, 124, 36, 0.50);
}
.dropdown-item .dropdown-span {
  display: block;
}
.dropdown-item:first-child {
  color: var(--main-black);
  font-size: 18px;
  line-height: 125%;
  font-weight: 800;
  padding: 16px;
}
.dropdown-item:first-child:hover {
  color: var(--main-white);
}
.dropdown-item:first-child .dropdown-span {
  color: var(--main-black);
  font-weight: 400;
  max-width: 100%;
  font-size: 18px;
  margin-top: 14px;
}
.dropdown-item:first-child:hover .dropdown-span {
  color: var(--main-white);
}
.navbar .dropdown-item {
  white-space: normal;
}

/* BUTTON */
.support-button {
  background-color: var(--blue);
  color: var(--main-white);
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.support-button:hover,
.support-button:focus {
  border: 1px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1110px) {
  .nav-item {
    padding: 3px 6px;
    margin: 0 2px;
  }
}
@media only screen and (max-width: 974px) {
  .navbar-logo {
    margin-top: 0px;
  }
  .navbar-toggler {
    position: absolute;
    right: 12px;
    top: 28px;
    margin-bottom: 24px;
  }
  .nav-item {
    padding: 3px 16px;
    margin: 4px 0;
    text-align: right;
  }
  .navbar-collapse {
    margin-top: 60px;
  }
  .support-button {
    margin-left: 4px;
  }
}
@media only screen and (max-width: 440px) {
  .dropdown-menu {
    width: 100%;
  }
}
@media only screen and (max-width: 390px) {
  .navbar-logo {
    width: 122px;
    height: 35px;
    margin-top: 8px;
  }
  .dropdown-menu {
    width: 100%;
    padding: 4px 12px;
    margin: 12px auto;
  }
}
