/* Container for the section */

.story-mission {
  background-color: var(--main-white);
  padding-top: 36px;
  padding-bottom: 56px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.text-container {
  max-width: 600px;
}

.story-mission .story-subheader {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 44px;
  margin-top: 24px;
}

.story-text {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.Learn-More-Btn {
  margin-top: 20px;
  background-color: var(--orange);
  padding: 14px 146px;
  color: var(--main-white);
  font-family: var(--accent-font);
  line-height: 100%;
  font-size: 32px;
  padding: 14px 146px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.Learn-More-Btn:hover {
  background-color: var(--main-white);
  color: var(--orange);
  border: 1px solid var(--orange);
}
.image-container {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.story-mission .story-chad {
  max-width: 100%;
  width: 492px;
  height: 370px;
}

@media only screen and (max-width: 1160px) {
  .story-mission {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .content-container {
    flex-direction: column;
  }

  .image-container {
    margin-top: 42px;
    width: 100%;
    justify-content: left;
  }
  .Learn-More-Btn {
    padding: 14px 120px;
    font-size: 28px;
  }
}
@media only screen and (max-width: 1024px) {
  .text-container {
    max-width: 100%;
    margin: 0 auto;
  }
  .Learn-More-Btn {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
  }
  .story-chad {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .story-mission .story-chad {
    width: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .story-mission {
    max-width: 92%;
    display: block;
    margin: 0 auto;
  }
  .text-container {
    max-width: 100%;
  }

  .story-mission .story-subheader {
    margin-bottom: 20px;
  }

  .story-text {
    line-height: 28px;
    text-align: left;
  }

  .Learn-More-Btn {
    width: 100%;
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .Learn-More-Btn {
    max-width: 100%;
    padding: 14px 0;
  }
}
