/* Container for the section */

.story-mission {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  width: 60%;
  padding: 1px;
}

.story-mission .story-subheader {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 44px;
}

.story-text1 {
  color: var(--main-black);
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justify;
}
.story-text2 {
  color: var(--main-black);
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justify;
}

.Learn-More-Btn {
  margin-top: 20px;
  background-color: var(--orange);
  padding: 14px 146px;
  color: var(--main-white);
  font-family: var(--accent-font);
  line-height: 100%;
  font-size: 32px;
  padding: 14px 146px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.image-container {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.story-mission .story-chad {
  max-width: 100%;
  width: 492px;
  height: auto;
}
