body {
  margin: 0;
  padding: 0;
  background-color: var(--main-white);
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-black: #0d0d0d;
  --main-white: #fffefe;
  --orange: #ef761f;
  --blue: #3dadc8;
  --accent-font: 'Anton', sans-serif;
  --main-font: "Source Sans Pro", sans-serif;
}
.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
