.SurvivorStoriesGrid {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 200px;
}

.SurvivorStoriesGrid .survivor-header {
  margin-top: 100px;
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
  text-decoration: underline #eac0a1 9px;
}

.SurvivorStoriesGrid .survivor-grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.SurvivorStoriesGrid .survivor-card {
  width: 250px;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  margin: 12px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.SurvivorStoriesGrid .survivor-image {
  width: 250px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .SurvivorStoriesGrid .survivor-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 960px) {
  .SurvivorStoriesGrid .survivor-header {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .SurvivorStoriesGrid .survivor-grid-container {
    grid-template-columns: 1fr;
  }
}
