.imp-section {
  margin-bottom: 100px;
}

.imp-header-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.imp-header {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  text-decoration: underline #eac0a1 11px;
}

.CDC,
.echo,
.HCM,
.EKG {
  background-color: #f5efea;
}

.echo {
  margin-top: 30px;
}

.EKG {
  margin-top: 30px;
}

.imp-section .row {
  --bs-gutter-x: 1rem;
}

.imp-text {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.d-flex-align-items {
  font-weight: bold;
  float: left;
}

.CDC-card-text {
  font-family: Source Sans Pro;
}
