.tips {
  margin-bottom: 100px;
}

.tips .tips-header-box {
  display: flex;
  gap: 10px;
}

.tips .tips-header {
  color: var(--main-black);
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
  text-decoration: underline #eac0a1 11px;
}
.card-text {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--main-black);
  font-family: Source Sans Pro;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justified;
}

.title {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  font-family: Source Sans Pro;
}

.g-4 {
  justify-content: center;
}

.recipe-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: var(--orange);
  padding: 14px 165px;
  color: var(--main-white);
  font-family: var(--accent-font);
  line-height: 100%;
  font-size: 32px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  margin-top: 40px;
}
